/* Dashboard.css */

.dashboard-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  
}


.main-content {
  background-color: #86b7e95b;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.247);
  padding: 20px;
  border-radius: 5px;


}

.dashboard {
  text-align: center;
} 