
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ebf8d6;
    /* background-image: url(nature.webp);
    background-size: contain; */
  }
  
  .container {
    max-width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    font-weight: bold;
  }
  
  input,
  textarea {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: flex;
  }
  
  button[type="submit"] {
    padding: 10px 15px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    align-self: center;
  }
  
  button[type="submit"]:hover {
    background-color: #f79926;
  }